@charset "utf-8";

.wrapper {
  padding: 32px 0px;
  background-color: #f2f6f7;
}

.inner {
  width: 640px;
  margin: 0 auto;
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.link-color {
  color: #01A6A4;
  font-size: 12px;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
  border-radius: 4px;
  padding: 48px 64px;
  margin: 0 0 32px;
}

.form-title {
  color: #545658;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

input:focus {
  box-shadow: 0px 0px 4px 0px rgba(1,191,189,0.4);
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.facebook-color {
  background-color: #3b5999;
  color: #fff;
}

.facebook-color:hover {
  background-color: #2c4375;
}

.google-color {
  background-color: #fff;
  color: #dd4b39;
}

.google-color:hover {
  background-color: #f2f2f7;
}

.btn {
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  padding: 13px;
  text-align: center;
  transition: .3s;
  margin-left: 8px;
}

.btn:first-child {
  margin-left: 0;
}

.sub-text {
  color: #949697;
  font-size: 12px;
  text-align: center;
}

.divider {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

.divider::before {
  background-color: #ececec;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.divider p {
  background-color: #fff;
  display: inline-block;
  position: relative;
  padding: 0 15px;
}

.input-list {
  list-style-type: none;
}

.input-container {
  margin-top: 20px;
}

.input-container:first-child {
  margin-top: 0;
}

.name-box {
  margin-left: 20px;
}

.name-box:first-child {
  margin-left: 0;
}

.label-text {
  color: #545658;
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
}

.input-form {
  background-color: #f2f6f7;
  box-sizing: border-box;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  color: #545658;
  line-height: 2;
  padding: 5px;
  font-size: 13px;
  height: 36px;
}

.alert {
  color: #dd4b39;
}

.name-container {
  display: flex;
}

.gender {
  color: #545658;
  display: flex;
  text-align: left;
}

.radio {
  display: none;
}

.sample-label {
  position: relative;
  padding: 3px 3px 3px 20px;
} 

.sample-label::after,.sample-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.sample-label::after {
  background-color: #f2f6f7;
  border: solid 1px #d9d9d9;
  border-radius: 50%;
  left: 0;
  height: 14px;
  width: 14px;
}

.sample-label::before {
  background-color: #01BFBD;
  border-radius: 50%;
  left: 4px;
  opacity: 0;
  height: 8px;
  width: 8px; 
  z-index: 2;
}

.radio:checked + .sample-label:before {
  opacity: 1;
}

input {
  vertical-align: baseline;
}

.country {
  position: relative;
}

.country select {
  background-color: #f2f6f7;
  border: none;
  font-size: 13px;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
}

.country::before {
	position: absolute;
	top: 50%;
	right: 0.9em;
	content: '';
	border-left: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
  pointer-events: none;
  transform: rotate(-45deg);
  width: 5px;
  height: 5px;
}

.check {
  margin-bottom: 10px;
}

.checkbox {
  display: none;
}

.skill {
  color: #545658;
}

.skill {
  position: relative;
  padding: 0 0 0 25px;
}

.skill::before,.skill::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.skill::before {
  background-color: #fff;
  border: solid 1px #d9d9d9;
  left: 0;
  height: 17px;
  width: 17px; 
}

.skill::after {
  background-color: transparent;
  border: solid 3px #01BFBD;
  border-top: transparent;
  border-left: transparent;
  height: 16px;
  left: 6px;
  opacity: 0;
  top: -5px;
  transform: rotate(45deg);
  width: 8px;
  z-index: 2;
}

.checkbox:checked + .skill::after {
  opacity: 1;
}

.textarea {
  height: 100px;
}

textarea:focus {
  box-shadow: 0px 0px 4px 0px rgba(1,191,189,0.4);
  outline: none;
}

.form-btn {
  background-color: #01BFBD;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  padding: 13px;
  text-align: center;
}

.agree-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-part {
  padding-bottom: 8px;
  text-align: center;
}

.login-text {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  text-align: center;
}