@charset "utf-8";

.wrapper {
  background-color: #f2f6f7;
  padding: 32px 0px;
}

.inner {
  width: 640px;
  margin: auto;
}
.main-content{
  background-color: #fff;
  padding: 48px 64px;
}
.title {
  text-align: center;
  font-size: 24px;
  color: #545658;
  margin-bottom: 8px;
}
.select-content{
  display: flex;
  margin-bottom: 8px;
}
.start-btn__container{
  width: 50%;
  text-align: center;
}
.start-btn__container:last-child{
  margin-left: 8px;
}
.Facebook-btn{
  box-sizing: border-box;
  display: inline-block;
  padding: 13px;
  background-color: #3b5999;
  color: #fff;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}
.Google-btn{
  box-sizing: border-box;
  display: inline-block;
  padding: 13px;
  background-color: #fff;
  color: #e35b39;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}
.supplement-text{
  text-align: center;
  color: #949697;
  font-size: 12px;
}
.divider{
  margin: 20px 0px;
  position: relative;
  text-align: center;
}
.divider::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ececec;
}
.divider-text{
  color: #949697;
  font-size: 12px;
  background-color: #fff;
  padding: 0 10px;
  display: inline-block;
  transform: translateX(1px);
}